# Postgres env
POSTGRES_PASSWORD=development
POSTGRES_USER=development
POSTGRES_DB=development

# Root env
DB_HOST=postgres
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:5432/${POSTGRES_DB}
RUST_ENV=development
ROOT_SECRET=insecuresecret123
ROOT_PORT=3000

# amD env
DISCORD_TOKEN=

# Misc
HOSTNAME=
DC_WEBHOOK_TOKEN=
DC_WEBHOOK_CHANNEL=
