# Extension ref: https://github.com/compose-spec/compose-spec/blob/main/spec.md#extension
x-environment: &env
  env_file:
    - ./.env
  environment:
    - TZ=Asia/Kolkata

services:
  sslh:
    container_name: sslh
    image: ghcr.io/yrutschle/sslh:latest
    ports:
      - 443:443
    command: --foreground --listen=0.0.0.0:443 --tls=reverse-proxy:443 --ssh=host.docker.internal:22
    restart: always
    extra_hosts:
      - host.docker.internal:host-gateway

  reverse-proxy:
    container_name: traefik
    image: traefik:v3.3
    restart: always
    volumes:
      # To monitor docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./secrets/traefik-htpasswd:/etc/traefik/secret/traefik-htpasswd:ro
      # Required configs and certificates
      - ./traefik.yml:/etc/traefik/traefik.yml
      # Dynamic config which supports hot reloading
      # See: https://doc.traefik.io/traefik/getting-started/configuration-overview/#the-dynamic-configuration
      - ./certs-traefik.yml:/etc/traefik/dynamic/certs-traefik.yml
      - /etc/ssl:/etc/ssl
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik-dashboard.rule=Host(`traefik.amfoss.in`)
      - traefik.http.routers.traefik-dashboard.entrypoints=websecure
      - traefik.http.routers.traefik-dashboard.service=api@internal
      - traefik.http.routers.traefik-dashboard.tls=true
      - traefik.http.routers.traefik-dashboard.middlewares=traefik-dashboard-auth
      - traefik.http.middlewares.traefik-dashboard-auth.basicauth.usersfile=/etc/traefik/secret/traefik-htpasswd

  watchtower:
    container_name: watchtower
    image: beatkind/watchtower
    # Webhook url syntax: https://containrrr.dev/shoutrrr/v0.8/services/discord/
    command: --interval 10 --notification-url="discord://${DC_WEBHOOK_TOKEN}@${DC_WEBHOOK_ID}" --no-startup-message --cleanup
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  root:
    container_name: root
    image: ghcr.io/amfoss/root:latest
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    labels:
      - traefik.enable=true
      - traefik.http.routers.root.tls=true
      - traefik.http.routers.root.entrypoints=websecure
      - traefik.http.routers.root.rule=Host(`root.${HOSTNAME}`)
      - traefik.http.services.root.loadbalancer.server.port=${ROOT_PORT}
    <<: *env # YAML merge

  amapi:
    container_name: amapi
    image: ghcr.io/amfoss/ammentor-backend:latest
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    labels:
      - traefik.enable=true
      - traefik.http.routers.amapi.tls=true
      - traefik.http.routers.amapi.entrypoints=websecure
      - traefik.http.routers.amapi.rule=Host(`amapi.${HOSTNAME}`)
      - traefik.http.services.amapi.loadbalancer.server.port=${AMMENTOR_PORT}
    <<: *env # YAML merge

  amd:
    container_name: amd
    image: ghcr.io/amfoss/amd:latest
    restart: always
    <<: *env # YAML merge

  statusd:
    container_name: statusd
    image: ghcr.io/amfoss/statusd:latest
    restart: always
    <<: *env # YAML merge

  img2latex:
    container_name: img2latex
    image: ghcr.io/amfoss/img2latex:latest
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.img2latex.tls=true
      - traefik.http.routers.img2latex.entrypoints=websecure
      - traefik.http.routers.img2latex.rule=Host(`latex-api.${HOSTNAME}`)
      - traefik.http.services.img2latex.loadbalancer.server.port=${IMG2LATEX_PORT}
    <<: *env

  postgres:
    container_name: postgres
    image: postgres:alpine  
    restart: always
    command: [ "postgres", "-c", "config_file=/etc/postgresql/postgresql.conf" ]
    volumes:
      - db-vol:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
      - ./create_databases.sql:/docker-entrypoint-initdb.d/create_databases.sql
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${ROOT_DB}" ]
      interval: 2s
      timeout: 30s
      retries: 5
      start_period: 30s
    labels:
      - com.centurylinklabs.watchtower.enable=false
    <<: *env
  cloudbeaver:
    container_name: cloudbeaver
    image: dbeaver/cloudbeaver:25.3.3
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - cloudbeaver_data:/opt/cloudbeaver/workspace
    labels:
      - traefik.enable=true
      - traefik.http.routers.cloudbeaver.tls=true
      - traefik.http.routers.cloudbeaver.entrypoints=websecure
      - traefik.http.routers.cloudbeaver.rule=Host(`db.${HOSTNAME}`)
      - traefik.http.services.cloudbeaver.loadbalancer.server.port=8978
    <<: *env
volumes:
  db-vol:
  cloudbeaver_data:
